body {
  font-family: "Asap", sans-serif;
  font-family: "Barlow", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aliceblue;
  min-height: 100vh;
  width: 100%;

  font-size: calc(10px + 2vmin);
  color: white;
}
.greeting {
  color: white;
  border-bottom: 3px solid #1966ff;
  transition: all 1s ease-in-out;
}
.greeting:hover {
  border-bottom: 3px solid #ff1971;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
